/* src\components\Manufacturer\manufacturer.css */

*{
    margin: 0;
    padding: 0;
}
.dashboard{
    padding: 10px;
}

.css-zxdg2z , .css-aixiz9-MuiButtonBase-root-MuiIconButton-root {
    padding: 0px !important;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 12px !important;
    padding: 11px !important;
}

.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root{
    transform: translate(14px, 12px) scale(1) !important;
    font-size: 12px !important;
}

.css-1umw9bq-MuiSvgIcon-root{
    font-size: 18px !important;
}

.css-10o2lyd-MuiStack-root{
    padding-top: 0px !important;
}
