.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/bg-login.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }